version: 1
accounts:
- name: alice
  coins:
  - 20000000FFTT
  - 200000000stake
- name: bob
  coins:
  - 100000000FFTT
  - 100000000stake
- name: ftw
  coins:
  - 1000000FFTT
  memons: face prevent rare horn time knife current sniff first about enrich twi
client:
  openapi:
    path: docs/static/openapi.yml
faucet:
  name: bob
  coins:
  - 5token
  - 100000stake
validators:
- name: alice
  bonded: 100000000stake
